@charset "UTF-8"

section#conteudo
{
    width: 1000px
    margin: auto;
}

iframe#freme
{
    width: 390px;
    height: 290px;
    border: none;
    overflow: hidden; /* nao acontece em todos os navegadores, mas iso evita que a rolagem acnteça */
}



iframe#freme::-webkit-scrollbar /* isso é pra tirar a barra de rolagem */ /* nao ta funcionado pq e acho q o navgdor nao tem suporte para iframe */
{
    display: none;
}